TD {
	FONT-SIZE: 12px;
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
TD.ttd {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%
}
.newsp0 {
	COLOR: #ffffff; FONT-SIZE: 12px
}

body {
	background-color: #DFDFDF;
}

A:link {
	COLOR: #000000; TEXT-DECORATION: none; line-height: 140%;
}
A:visited {
	COLOR:#990066; TEXT-DECORATION: none; line-height: 140%;
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: none; line-height: 140%;
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline; line-height: 140%;
}
.l15 {
	LINE-HEIGHT: 150%
}
.title0 {
	COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 17px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.title1:link {
	COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 17px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.title1:visited {
	COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 17px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.title1:active {
	COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 17px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.title1:hover {
	COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 17px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.title2:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.title2:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.title2:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.title2:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.sinatail:link {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.sinatail:visited {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.sinatail:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.sinatail:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.news01:link {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news01:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news01:active {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.news01:hover {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.news1:link {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news1:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news1:active {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.news1:hover {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.news2:link {
	COLOR: #001a69; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news2:visited {
	COLOR: #001a69; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news2:active {
	COLOR: #001a69; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news2:hover {
	COLOR: #001a69; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news3:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.news3:visited {
	COLOR: #800080; TEXT-DECORATION: none
}
A.news3:active {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.news3:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.news4:link {
	COLOR: #0000ff
}
A.news4:visited {
	COLOR: #0000ff
}
A.news4:active {
	COLOR: #ff0000
}
A.news4:hover {
	COLOR: #ff0000
}
.c03 {
	BORDER-BOTTOM-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-TOP-COLOR: #000000; COLOR: #000000
}
.n01 {
	COLOR: #0000ff
}
.n02 {
	FONT-SIZE: 14px; LINE-HEIGHT: 140%
}
.n03 {
	COLOR: #ff0000
}
.n04 {
	COLOR: #6666cc; FONT-SIZE: 11px
}
.n05 {
	COLOR: #ffffff
}
.n06 {
	COLOR: #c83747
}
.f7 {
	FONT-SIZE: 7px
}
A.a01:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a01:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a02:link {
	COLOR: #ffffff
}
A.a02:visited {
	COLOR: #ffffff
}
A.a02:active {
	COLOR: #ff0000
}
A.a02:hover {
	COLOR: #ff0000
}
A.a03:link {
	COLOR: #0c00ad
}
A.a03:visited {
	COLOR: #5852ac
}
A.a03:active {
	COLOR: #ff0000
}
A.a03:hover {
	COLOR: #ff0000
}
A.a04:link {
	COLOR: #0c00ad; TEXT-DECORATION: none
}
A.a04:visited {
	COLOR: #5852ac; TEXT-DECORATION: none
}
A.a04:active {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a04:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a05:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a05:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a05:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a05:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.c05 {
	BORDER-BOTTOM-COLOR: #a6a6a6; BORDER-LEFT-COLOR: #a6a6a6; BORDER-RIGHT-COLOR: #a6a6a6; BORDER-TOP-COLOR: #a6a6a6; COLOR: #a6a6a6
}
.s01 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: 1px inset; BORDER-LEFT: 1px inset; BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; VERTICAL-ALIGN: text-bottom
}
.s02 {
	BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge
}
.s03 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #939598 1px solid; BORDER-LEFT: #939598 1px solid; BORDER-RIGHT: #939598 1px solid; BORDER-TOP: #939598 1px solid; VERTICAL-ALIGN: text-bottom
}
.l12 {
	LINE-HEIGHT: 120%
}
.l14 {
	LINE-HEIGHT: 140%
}
.n07 {
	COLOR: #0c00ad; LINE-HEIGHT: 120%
}
.moer-title1 {
	font-family: "ו";
	font-size: 16pt;
	line-height: 20pt;
	text-decoration: none;
	font-weight: bold;
	color:#FF0000;

}
.moer-content1 {
	font-family: "ו";
	font-size: 11pt;
	line-height: 15pt;
	text-decoration: none;	
	color: #000000;
}
.moer-class {font-size:14.7px;font-family: Georgia, "Times New Roman", Times, serif;color:#000000;line-height:150%;font-weight: bold;}
.moer-Question {font-size: 14px}
.moer-title{font-size:14.7px;font-family:arial;color:#000000;line-height:150%;font-weight: bold;}
.moer-content{font-size:14.7px;font-family:arial;color:#000000;line-height:150%;}
.moer-find{font-size:12px;font-family:arial;color:#FF0000;line-height:150%;font-weight: bold;}
.moer-author{font-size:12px;font-family:arial;color:#FF0000;line-height:150%;}
.moer-ask{font-size:14.7px;font-family:arial;color:#FF0000;line-height:150%;font-weight: bold;}
.moer-answer{font-size:14.7px;font-family:arial;color:#000000;line-height:150%;font-weight: bold;}

A.toplink:link {
	COLOR: #000000; TEXT-DECORATION: none; line-height: 140%;
}
A.toplink:visited {
	COLOR: #000000; TEXT-DECORATION: none; line-height: 140%;
}
A.toplink:active {
	COLOR: #ff0000; TEXT-DECORATION: none; line-height: 140%;
}
A.toplink:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline; line-height: 140%;
}