body
{
	background-color: #ffffff;
	scrollbar-face-color: #cfcfcf;
	scrollbar-shadow-color: #595959;
	scrollbar-3dlight-color: #616161;
	scrollbar-arrow-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-base-color: #cfcfcf;
	scrollbar-track-color: #cdcdcd;
}

img
{
	border:none;
}

hr
{
	color:#8080ff;
	height:1px;
}

textarea
{
	border:1px solid #8080ff;
	font-family:arial;
	width:480px;
	wrap:logical;
	padding:5px;
}

th
{
	font-family:"宋体";
	font-size:9pt;
	text-align:left;
}

td
{
	font-family:"宋体";
	font-size:9pt;
	background:#ffffff;
	padding:5px;
}

p
{
	font-family:"宋体";
	font-size:9pt;
	text-indent:24px;
}

input
{
	font-size:9pt;
	height:24px;
	font-family:"宋体";
	color:#000000;
	text-decoration:none;
}

select
{
	font-size:9pt;
	height:18px;
	border:1px #333333 solid;
	background-color:#ffcccc;
	font-family:"宋体";
	color:#000000;
	text-decoration: none
}

.left
{
	font-family:"宋体";
	font-size:9pt;
	text-align:left;
	text-decoration:none;
}

.self
{
	font-family:"宋体";
	font-size:9pt;
	text-align:left;
	color:#ff0000;
	text-decoration:none;
}

.border
{
	font-family:"宋体";
	font-size:9pt;
	border:1px solid #c0c0c0;
	vertical-align:top;
}

.title
{
	font-family:"宋体";
	font-size:12pt;
	text-align:center;
}

.section
{
	font-family:"宋体";
	font-size:10.5pt;
}

.code
{
	font-family:"宋体";
	font-size:9pt;
	border:1px solid #c0c0c0;
	padding:5px;
}

.table
{
	font-family:"宋体";
	font-size:9pt;
	border:1px solid #8080ff;
	padding:5px;	
}

.input
{
	font-size:9pt;
	height:18px;
	border:1px solid #999999;
	background-color:white;
	font-family:"宋体";
	color:#000000;
	text-decoration:none;
}