BODY {
	BACKGROUND: #eeeeee; MARGIN-LEFT: 2%; COLOR: black; MARGIN-RIGHT: 2%; FONT-FAMILY: verdana, arial, helvetica, Sans-Serif
}
H1 {
	MARGIN-TOP: 5%; MARGIN-RIGHT: 10%; FONT-FAMILY: "comic sans ms", verdana, sans-serif; TEXT-ALIGN: right
}
H2 {
	FONT-FAMILY: verdana, arial, helvetica, Sans-Serif
}
H3 {
	FONT-FAMILY: verdana, arial, helvetica, Sans-Serif
}
H4 {
	FONT-FAMILY: verdana, arial, helvetica, Sans-Serif
}
H5 {
	FONT-FAMILY: verdana, arial, helvetica, Sans-Serif
}
H6 {
	FONT-FAMILY: verdana, arial, helvetica, Sans-Serif
}
H2 {
	BACKGROUND: #cc3333; COLOR: #ffffff
}
DIV.header P.status {
	TEXT-ALIGN: right
}
DIV.header P.last-modified {
	TEXT-ALIGN: left
}
DT {
	MARGIN-TOP: 2ex; FONT-WEIGHT: bold; MARGIN-LEFT: 1em
}
ADDRESS {
	FONT-WEIGHT: normal; BACKGROUND: #eeeeee; COLOR: gray; FONT-STYLE: normal; FONT-FAMILY: Times, serif; TEXT-ALIGN: right; FONT-VARIANT: normal
}
PRE {
	BORDER-RIGHT: #646464 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #646464 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 1em; BORDER-LEFT: #646464 1px solid; COLOR: black; MARGIN-RIGHT: 2em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #646464 1px solid; WHITE-SPACE: pre; BACKGROUND-COLOR: #e6e6e6
}
SPAN.download {
	FONT-WEIGHT: normal; BACKGROUND: #eeeeee; COLOR: blue
}
.path {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navi {
	TEXT-ALIGN: right
}
.hotbar {
	COLOR: red
}
.hilight {
	BACKGROUND: #ffff66; COLOR: black
}
TEXTAREA {
	WIDTH: 100%
}

div.footer {
        font-size: 90%;
        text-decoration: none;
        text-align: right;
        margin-right: 1em;
        clear: both;
}
