/*
ruby-lang.css: tDiary theme for ruby-lang.org.

TADA Tadahi <sho@spc.gr.jp>
You can redistribute it and/or modify it under the same term as Ruby.
*/

body {
	margin: 0px;
	padding: 0px;
	color: #000;
	background-color: #fff;
}

h1 {
	color: #fff;
	background-color: #8e2400;
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 0px;
	height: 130px;
	text-align: center;
	clear: both;
	font-size: 24px;
	line-height: 200%;
}

h1 img {
	float: left;
	margin-left: 0px;
	border: none;
}

a {
	color: #ea3a00;
	background-color: transparent;
}

a:visited {
	color: #c63200;
	background-color: transparent;
}

a:hover {
	color: #ff6835;
	background-color: transparent;
}

div.referer, div.refererlist, div.day div.form {
	font-size: 90%;
	margin-left: 3em;
	border-style: solid;
	border-color: #a11;
	border-width: 1px;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

div.day div.field {
	display: inline;
	margin-right: 1em;
}

img.icon {
	float: right;
	margin-left: 0.5em;
	border: none;
}

img.amazon {
        float: right;
        margin-left: 0.5em;
        border: none;
}

img.right {
        float: right;
        margin-left: 0.5em;
        border: none;
}

img.ext {
	border: none;
}

div.adminmenu {
	margin-bottom: 1em;
	text-align: center;
}

span.adminmenu {
	margin-right: 1em;
}

div.comment {
	display: none;
}

/* main */
div.main {
	margin-left: 130px;
	margin-right: 0.6em;
	padding: 1.2em;
}

div.main hr {
	color: #a11;
	background-color: transparent;
}

div.main hr.sep {
	display: none;
	margin: 0px;
}

div.main h2 {
	margin-top: 0em;
	margin-bottom: 0.5em;
	font-size: 100%;
	padding: 0.2em;
	color: #ffffff;
   background-color: #c63200;
}

div.main h2 a:link, div.main h2 a:visited {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}

div.main h2 span.title {
}

div.main div.day {
	margin-right: 0em;
	/*margin-bottom: 3em;*/
}

div.main div.section {
	margin-left: 1em;
}

div.main span.readmore {
	font-size: 80%;
}

div.main div.lm {
	margin-top: 0em;
	margin-bottom: 1em;
	margin-right: 1em;
	text-align: right;
	font-size: 75%;
}

span.lm {
	border-style: dashed;
	border-color: #ff9999;
	border-width: 1px 0px 0px 0px;
}

div.main h3 {
	margin: 0px;
	font-size: 100%;
	padding: 0.2em;
}

div.main h4 {
	margin-bottom: 0px;
	margin-left: 1em;
}

div.main p {
	margin-top: 0px;
	margin-bottom: 0.5em;
	line-height: 140%;
}

div.main ul, div.main dl {
	margin-top: 0.2em;
	margin-left: 2em;
	padding-left: 0em;
}

div.main dt {
	margin-top: 0.5em;
	font-weight: bold;
}

div.main dd {
	margin-left: 2em;
}

div.main pre {
	border-style: dashed;
	border-width: 1px;
	border-color: #a11;
	margin-left: 2em;
	padding: 4px;
}

div.form {
	clear: right;
}

span.corres {
	font-size: 80%;
	font-weight: lighter;
}

/* sidebar */
div.sidebar {
	position: absolute;
	top: 130px;
	left: 0px;
	width: 129px;
	color: #8e2400;
	background-color: #fff1ec;
	padding-top: 1em;
	padding-bottom: 5em;
	border-style: dashed;
	border-color: #ff9999;
	border-width: 0px 1px 0px 0px;
}

div.sidebar div.menu {
	font-size: 90%;
	font-weight: bold;
	padding-left: 4px;
}

div.sidebar ul {
	list-style-type: none;
	margin-top: 0em;
	margin-left: 1em;
	padding-left: 0em;;
	padding-right: 4px;
}

div.sidebar li {
	font-size: 90%;
	margin-top: 0.4em;
	text-indent: -1.5ex;
	padding-left: 1.5ex;
}

div.sidebar hr {
	color: #fff;
	background-color: transparent;
	width: 80%;
	margin-bottom: 1em;
}

div.sidebar form {
	margin-top: 0em;
	margin-left: 0.5em;
	margin-right: 4px;
	font-size: 60%;
	line-height: 100%;
}

div.sidebar a {
	color: #ea3a00;
	background-color: transparent;
	text-decoration: none;
}

div.sidebar a:visited {
	color: #c63200;
	background-color: transparent;
	text-decoration: none;
}

div.sidebar a:hover {
	color: #ff794d;
	background-color: transparent;
	text-decoration: underline;
}

/* rightbar */
div.rightbar {
	float: right;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 0.2em;
	width: 130px;
}

div.rightbar a {
	color: #ea3a00;
	background-color: transparent;
	text-decoration: none;
}

div.rightbar a:visited {
	color: #c63200;
	background-color: transparent;
	text-decoration: none;
}

div.rightbar a:hover {
	color: #ff794d;
	background-color: transparent;
	text-decoration: underline;
}

div.rightbaritem {
	color: #000;
	background-color: transparent;
	border-style: solid;
	border-color: #fcc;
	border-width: 1px;
	margin-bottom: 1em;
}

div.rightbartitle {
	color: #8e2400;
	background-color: #fff1ec;
	border-style: solid;
	border-color: #fcc;
	border-width: 0px 0px 1px 0px;
	padding-left: 4px;
}

div.rightbaritem ul {
	list-style-type: none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	padding-left: 0em;
}

div.rightbaritem li {
	font-size: 90%;
	text-indent: -1.5ex;
	padding-left: 1.5ex;
}

div.footer {
	font-size: 90%;
	text-decoration: none;
	text-align: right;
	margin-right: 1em;
	clear: both;
}

/*
for printer
*/
/*
@media print {
	div.adminmenu { display: none; }
	div.main {
		margin-left: 1em;
		margin-right: 1em;
	}
	div.sidebar { display: none; }
	div.rightbar { display: none; }
}
*/

